<%- include("header", {title: title}); %>

<%- include("header2", {title: title}); %>


<h1>Administration för internetbanken</h1>

<p>Anvnäd menyn ovan för att visa kunder, konton och räntekalkyl. Under kunder kan du lägga till nya kunder och under konton kan du lägga till nya konton och koppla dem till en befintlig kund.</p>

<%- include("footer"); %>
