<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <script src="https://use.fontawesome.com/0aee473986.js"></script>
</head>

<body>

<header>
    <nav>
        <a href="/internetbanken">Hem</a>
        <a href="/internetbanken/admin">Administration</a>
        <a href="/internetbanken/kund">Kund</a>
    </nav>
</header>

<html>
<article>