<header>
    <nav>
        <a href="/internetbanken/admin/">Start</a>
        <a href="/internetbanken/admin/kunder">Kunder</a>
        <a href="/internetbanken/admin/konton">Konton</a>
        <a href="/internetbanken/admin/kalkyl">Räntekalkyl</a>
        <a href="/internetbanken/admin/logg">Logg</a>
    </nav>
</header>