<header>
    <nav>
        <a href="/internetbanken/kund/inloggad/<%= Id %>">Min sida</td>
        <a href="/internetbanken/kund/inloggad/konto/<%= Id %>">Mina konton</a>
        <a href="/internetbanken/kund/inloggad/kalkyl/<%= Id %>">Räntekalkyl</a>
    </nav>
</header>