<%- include("header", {title: title}); %>

<h1>Välkommen till BankBluffOBåg!</h1>

<p>Här kan du som administratör se över bankens konton samt lägga till nya kunder och konton.</p>
<p>Du som kund kan se över dina konton samt överföra pengar mellan dem.</p>

<%- include("footer"); %>